 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     margin: 0;
     padding: 0;
     color: black;
     background-color: #ffde0d;
     width: 100%;
     height: 100vh;
     font-family: 'Syncopate', sans-serif;
 }
 /* Loader page end */
 
 .container-fluid {
     padding: 0.1% 2%;
 }
 /* Navbar css */
 
 .nav-main {
     background-color: rgb(129, 129, 129);
 }
 
 .logo-image {
     width: 120px;
     left: 15px;
 }
 
 .nav-item {
     padding: 0 18px;
     letter-spacing: 5px;
 }
 
 .navbar-light .navbar-nav .nav-link {
     font-size: 10PX;
     color: #ffde0d;
 }
 
 .navbar-toggler .navbar-toggler-icon .collapse {
     color: #ffde0d;
 }
 /* Slider css */
 
 #carouselExampleCaptions {
     position: relative;
     background-color: black;
     height: 90vh;
 }
 
 .carousel-caption {
     width: 100%;
     left: 0;
     right: 0;
 }
 
 .h-title {
     font-size: 60px;
     margin: 0;
     background-color: #ffde0d;
     color: black;
     opacity: 50%;
 }
 
 .h1-title {
     background-color: #ffde0d;
     color: black;
     opacity: 50%;
 }
 
 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     color: black;
 }
 
 .slider1 {
     height: 90vh;
     width: 100%;
     opacity: 40%;
     background-color: black;
 }
 
 .slide_text {
     text-align: center;
     padding-bottom: 18.1%;
     font-weight: 900;
 }
 /* Interior css */
 
 .container {
     padding-right: 5%;
     padding-left: 5%;
     padding-bottom: 10%;
 }
 
 #interior {
     background-color: #ffde0d;
 }
 
 .inter {
     height: 177;
 }
 
 .int_Heading {
     font-size: 100px;
     padding-top: 80px;
     padding-bottom: 50px;
     text-align: center;
     letter-spacing: 40px;
     font-weight: 700;
 }
 /* image hover */
 
 .img-responsive {
     height: 100%;
     width: 100%;
     border-radius: 10px;
     margin-bottom: 20px;
 }
 
 .hovereffect {
     height: 100%;
     width: 100%;
     float: left;
     overflow: hidden;
     position: relative;
     text-align: center;
     cursor: default;
     border-radius: 10px;
 }
 
 .hovereffect .overlay {
     height: 100%;
     width: 100%;
     position: absolute;
     overflow: hidden;
     text-align: center;
     border-radius: 10px;
     top: 0;
     left: 0;
 }
 
 .hovereffect img {
     display: block;
     position: relative;
     -webkit-transition: all 0.4s ease-in;
     transition: all 0.4s ease-in;
 }
 
 .hovereffect:hover img {
     filter: grayscale(1) blur(3px);
     -webkit-filter: grayscale(1) blur(3px);
     -webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.2);
 }
 
 .hovereffect h2 {
     text-transform: uppercase;
     text-align: center;
     position: relative;
     font-size: 17px;
     padding: 10px;
     background: rgba(0, 0, 0, 0.6);
 }
 
 .hovereffect a.info {
     display: inline-block;
     text-decoration: none;
     padding: 7px 14px;
     border: 1px solid #fff;
     margin: 50px 0 0 0;
     background-color: transparent;
 }
 
 .hovereffect a.info:hover {
     box-shadow: 0 0 5px #fff;
 }
 
 .hovereffect a.info,
 .hovereffect h2 {
     -webkit-transform: scale(0.7);
     -ms-transform: scale(0.7);
     transform: scale(0.7);
     -webkit-transition: all 0.4s ease-in;
     transition: all 0.4s ease-in;
     opacity: 0;
     filter: alpha(opacity=0);
     color: #fff;
     text-transform: uppercase;
 }
 
 .hovereffect:hover a.info,
 .hovereffect:hover h2 {
     opacity: 1;
     filter: alpha(opacity=100);
     -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
 }
 
 .pic-block {
     padding: 2% 2%;
 }
 /* Architecture */
 
 #Architecture {
     background-color: rgb(129, 129, 129);
 }
 
 .arch {
     height: 177;
 }
 
 .arch_heading {
     font-size: 100px;
     padding-top: 80px;
     padding-bottom: 50px;
     text-align: center;
     letter-spacing: 40px;
     font-weight: 700;
     color: #ffde0d;
 }
 /* Contact us css */
 
 #contact {
     height: 40vh;
     width: 100%;
 }
 
 .cont_heading {
     font-size: 100px;
     padding-top: 80px;
     padding-bottom: 50px;
     text-align: center;
     letter-spacing: 40px;
     font-weight: 700;
 }
 
 .con-logo {
     font-size: 20px;
 }
 
 .s-num {
     padding-left: 8%;
 }
 
 .logo {
     margin-right: 20px;
 }
 
 .contact-box {
     font-family: 'Kalam', cursive;
     text-align: center;
 }
 
 a {
     color: #000;
     text-decoration: none;
 }
 
 a:hover {
     color: rgb(129, 129, 129);
     text-decoration: none;
     cursor: pointer;
 }
 /* footer */
 
 .copyrights {
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 25px;
     font-size: 10px;
     text-align: center;
 }
 
 @media(max-width: 992px) {
     /* For tablets: */
     .container {
         padding-bottom: 80px;
     }
     .slide_text {
         text-align: center;
         padding-bottom: 28%;
         font-weight: 900;
     }
     #interior {
         background-color: #ffde0d;
         height: 78vh;
         margin-bottom: 2%;
     }
     .int_Heading {
         font-size: 100px;
         padding-top: 80px;
         padding-bottom: 50px;
         text-align: center;
         letter-spacing: 20px;
         font-weight: 700;
     }
     #architecture {
         background-color: rgb(129, 129, 129);
         height: 78vh;
         margin-bottom: 2%;
     }
     .arch_heading {
         font-size: 100px;
         padding-top: 80px;
         padding-bottom: 50px;
         text-align: center;
         letter-spacing: 20px;
         font-weight: 700;
         color: #ffde0d;
     }
     .s-num {
         padding-left: 12%;
     }
 }
 
 @media(max-width: 768px) {
     .container {
         padding-bottom: 80px;
     }
     .slide_text {
         text-align: center;
         padding-bottom: 39%;
         font-weight: 900;
     }
     .h-title {
         font-size: 50px;
         background-color: #ffde0d;
     }
     .h1-title {
         display: none;
     }
     #interior {
         background-color: #ffde0d;
         height: 95vh;
         margin-bottom: 2%;
     }
     .int_Heading {
         font-size: 100px;
         padding-top: 50px;
         padding-bottom: 20px;
         text-align: center;
         letter-spacing: 20px;
         font-weight: 700;
     }
     #architecture {
         background-color: rgb(129, 129, 129);
         height: 95vh;
         margin-bottom: 2%;
     }
     .arch_heading {
         font-size: 100px;
         padding-top: 50px;
         padding-bottom: 20px;
         text-align: center;
         letter-spacing: 20px;
         font-weight: 700;
         color: #ffde0d;
     }
     .contact-box {
         font-family: 'Kalam', cursive;
     }
     .s-num {
         padding-left: 12%;
     }
 }
 
 @media(max-width: 480px) {
     .slide_text {
         text-align: center;
         padding-bottom: 3%;
         font-weight: 900;
     }
     #interior {
         background-color: #ffde0d;
         /* height: 108vh; */
     }
     .int_Heading {
         font-size: 50px;
         padding-top: 50px;
         padding-bottom: 20px;
         text-align: center;
         letter-spacing: 4px;
         font-weight: 700;
     }
     #architecture {
         background-color: rgb(129, 129, 129);
         /* height: 108vh; */
     }
     .arch_heading {
         font-size: 20px;
         padding-top: 50px;
         padding-bottom: 20px;
         text-align: center;
         letter-spacing: 4px;
         font-weight: 700;
         color: #ffde0d;
     }
     .cont_heading {
         font-size: 20px;
         padding-top: 50px;
         padding-bottom: 20px;
         text-align: center;
         letter-spacing: 4px;
         font-weight: 700;
     }
     .contact-box {
         font-family: 'Kalam', cursive;
     }
 }